fieldset {
    width: 50%;
    margin: auto;
    border: 2px solid blueviolet;
}

body {
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: blue;
  }

label,
input,
.classe,
#identificacao {
    display: block;
}

input[type=text], input[type=email], input[type=password], select{
    width: 300px;
}

input, select {
    margin-top: 4px;
    margin-bottom: 4px;
    border: 2px solid blueviolet;
    border-radius: 3px;
   
}

.larguraTexto{
    height: 20px;
}

.bt {
    border: 2px solid blueviolet;
    background-color: white;
    font-weight: bold;
    color:blueviolet;
    padding: 5px 10px;
    border-radius: 5px;
    float: right;
}

.bt:hover {
    cursor: pointer;
    background-color: blueviolet;
    color: white;
}

#img-java{
    float: right;
    height: 75px;
    width: 90px;
}